extends ../layout

block content

	h1 Patron: #{patron.first_name} #{patron.last_name}
	form(method='post' action='/patrons/' + patron.id + '?_method=PUT')
		p
			label(for='first_name') First Name
			input#first_name(type='text', name='first_name' value=patron.first_name)

			if (errors && errors.first_name)
				span.notify-error #{errors.first_name.msg}
		p
			label(for='last_name') Last Name
			input#last_name(type='text', name='last_name' value=patron.last_name)

			if (errors && errors.last_name)
				span.notify-error #{errors.last_name.msg}
		p
			label(for='address')  Address
			input#address(type='text', name='address' value=patron.address)

			if (errors && errors.address)
				span.notify-error #{errors.address.msg}
		p
			label(for='email') Email
			input#email(type='text', name='email' value=patron.email)

			if (errors && errors.email)
				span.notify-error #{errors.email.msg}
		p
			label(for='library_id') Library ID
			input#library_id(type='text', name='library_id' value=patron.library_id)

			if (errors && errors.library_id)
				span.notify-error #{errors.library_id.msg}
		p
			label(for='zip_code') Zip Code
			input#zip_code(type='text', name='zip_code' value=patron.zip_code)

			if (errors && errors.zip_code)
				span.notify-error #{errors.zip_code.msg}
		p
			input(type='submit', value='Update')
	h2 Loan History
	table
		thead
			tr
				th Book
				th Patron 
				th Loaned on
				th Return by 
				th Returned on
				th Action
		tbody
			each loan in patron.Loans
				tr
					td
						a(href='/books/' + loan.Book.id) #{loan.Book.title}
					td
						a(href='/patron/' + patron.id) #{patron.first_name} #{patron.last_name}
					td #{loan.loaned_on}
					td #{loan.return_by}
					td #{loan.returned_on}
					td
						a.button(href='/loans/' + loan.id) Return Book