extends ../layout

block content

	h1 Patron: #{patron.first_name} #{patron.last_name}
	form
		p
			label(for='first_name') First Name
			input#first_name(type='text', value=patron.first_name)
		p
			label(for='last_name') Last Name
			input#last_name(type='text', value=patron.last_name)
		p
			label(for='address')  Address
			input#address(type='text', value=patron.address)
		p
			label(for='email') Email
			input#email(type='text', value=patron.email)
		p
			label(for='library_id') Library ID
			input#library_id(type='text', value=patron.library_id)
		p
			label(for='zip_code') Zip Code
			input#zip_code(type='text', value=patron.zip_code)
		p
			input(type='submit', value='Update')
	h2 Loan History
	table
		thead
			tr
				th Book
				th Patron 
				th Loaned on
				th Return by 
				th Returned on
				th Action
		tbody
			each loan in patron.Loans
				tr
					td
						a(href='/books/' + loan.Book.id) #{loan.Book.title}
					td
						a(href='/patron/' + patron.id) #{patron.first_name} #{patron.last_name}
					td #{loan.loaned_on}
					td #{loan.return_by}
					td #{loan.returned_on}
					td
						a.button(href='/loans/' + loan.id) Return Book