extends ../layout

block content

	h1 New Patron
	form(method='post')
		p
			label(for='first_name') First Name
			input#first_name(type='text', name='first_name', value=patron.first_name)

			if (errors && errors.first_name)
				span.notify-error #{errors.first_name.msg}
		p
			label(for='last_name') Last Name
			input#last_name(type='text', name='last_name', value=patron.last_name)

			if (errors && errors.last_name)
				span.notify-error #{errors.last_name.msg}
		p
			label(for='address')  Address
			input#address(type='text', name='address', value=patron.address)

			if (errors && errors.address)
				span.notify-error #{errors.address.msg}
		p
			label(for='email') Email
			input#email(type='text', name='email', value=patron.email)

			if (errors && errors.email)
				span.notify-error #{errors.email.msg}
		p
			label(for='library_id') Library ID
			input#library_id(type='text', name='library_id', value=patron.library_id)

			if (errors && errors.library_id)
				span.notify-error #{errors.library_id.msg}
		p
			label(for='zip_code') Zip Code
			input#zip_code(type='text', name='zip_code', value=patron.zip_code)

			if (errors && errors.zip_code)
				span.notify-error #{errors.zip_code.msg}
		p
			input(type='submit', value='Create New Patron')
